Assumption in Multilinear regression

1. Linearity:mthe relatonship between the predictors and the response is linear.

2.  Independence : observation are independent of eachother

3.  homescedasticity: the residuals (Y- Yhat ) exhibit constant variance at all levels of the predictor

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from statsmodels.graphics.regressionplots import influence_plot
import numpy as np

In [4]:
cars = pd.read_csv("Cars.csv")
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [8]:
cars = pd.DataFrame(cars, columns=["HP","VOL","SP","WT","MPG"])
cars.head()

   HP  VOL          SP         WT        MPG
0  49   89  104.185353  28.762059  53.700681
1  55   92  105.461264  30.466833  50.013401
2  55   92  105.461264  30.193597  50.013401
3  70   92  113.461264  30.632114  45.696322
4  53   92  104.461264  29.889149  50.504232

#### Description of columns

- MPG: milege of the car(mile per gallon) (this i y-column to be predicted)
- HP : horse power o fth ecar(x1 column)
- VOL : volume of the car(size)(x2 collummmn)
- SP : Top speed of the car(miles per hour)(x3 column)
- WT: weight of the car(pounds)(X4 column)

In [17]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      81 non-null     int64
 1   VOL     81 non-null     int64
 2   SP      81 non-null     float64
 3   WT      81 non-null     float64
 4   MPG     81 non-null     float64
dtypes: float64(3), int64(2)
memory usage: 3.3 KB

In [21]:
cars.isna().sum()

HP     0
VOL    0
SP     0
WT     0
MPG    0
dtype: int64