In [26]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
s1.symmetric_difference(s2)

{1, 2, 5, 6}

In [28]:
str1 = "welocme to aiml class"
print(str1)
str3 = 'we started with python and learning about strings today'
print(str3)
str5 = '''we are learning ML'''
print(str5)

welocme to aiml class
we started with python and learning about strings today
we are learning ML

In [32]:
print(type (str1))
print(type (str3))
print(type (str5))

<class 'str'>
<class 'str'>
<class 'str'>

In [36]:
print(str3)
str1[5:10]

we started with python and learning about strings today

'me to'

In [38]:
print(str3)
str1.split()

we started with python and learning about strings today

['welocme', 'to', 'aiml', 'class']

In [44]:
reviews = ["we started", "with python"]
joined_string = ';'.join(reviews)
joined_string

'we started;with python'

In [50]:
str3 = "hello hello"
str3.split()

['hello', 'hello']

In [48]:
str5.split()

['we', 'are', 'learning', 'ML']

In [52]:
str3.upper()

'HELLO HELLO'

In [1]:
num = 6
if num %2 == 0:
    print("even")
else:
    print("odd")

even

In [12]:
print("even") if num%2 == 0 else("odd")

even

In [14]:
L = [1,9,3,33,2,33,]
[x for x in L if x%2 == 0]

[2]

In [16]:
L = [1,9,3,33,2,33,]
[x for x in L if x%2 == 1]

[1, 9, 3, 33, 33]

In [26]:
avg = sum(L)/len(L)
print(avg)

13.5

In [28]:
print(avg)

13.5

In [ ]:
d1 = {'Ram': [70,71,98,100], 'John': [56,76,77,44]}
{k:sum(v)/len(v) for k,v in d1.items()}